<template class="orejime_embed orejime_template" data-orejime-embeded-id="{{ contentID }}" data-orejime-consent="{{ consent }}">
  {{ original|raw }}
</template>
{% set classes = [
  'orejime_placeholder',
] %}
<div{{ attributes.addClass(classes) }} data-orejime-embeded-id="{{ contentID }}">
  <div class="orejime_embed">
    <div class="orejime_content">
      <div class="orejime_cookie-icon"></div>
      <p>{% trans %}This video is hosted by a third service. You must <a href="#" class="orejime-loadconsent">consent to the cookie</a> of this source to display the video.{% endtrans %}</p>
      {% if external_url is not empty %}{% trans %}Or view the media at <a href="{{ external_url }}">{{ external_url }}</a>{% endtrans %}{% endif %}
    </div>
  </div>
</div>
